.product{
    padding: 0 0 20px 0;
    height: 100%;
}

.product-image{
    text-align: center;
    margin-bottom: 15px;
    img{
        width: 150px;
        height: auto;
    }
}
.product-title {
    font-size: 22px;
    margin-bottom: 15px;
}
.product-description{
    font-size: 18px;
    margin-bottom: 15px;
}
.product-features{
    font-size: 16px;
    margin-bottom: 10px;
}
.product-price{
    font-size: 20px;
    text-align: center;
}
.btns-wrap {
    display: flex;
    justify-content: center;
}

.product-quantity {
    display: flex;
    margin-top: 10px;
    input{
        text-align: center;
    }
}
