.product-image-in-cart {
    text-align: left;

    img {
        width: 100%;
        height: auto;
    }
}
.totals {
    text-align: end;
    font-size: 25px;
}

.stack {
    >.grid{
        margin: 10px 0px;
    }
}